<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Demand Forecasting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="background-image">
            <div class="content">
                <h1>Food Demand Forecasting</h1>
                <p>A food delivery service has to deal with a lot of perishable materials which makes it necessary to accurately forecast and predict food delivery demand both on a daily and weekly basis. If there's extra inventory in the warehouse, there is a risk of wastage and overall loss for the company. On the other hand, if there is less inventory, this could lead to out-of-stock situations and hence customers may resort to competitors for placing meal orders. Raw material is replenished on a weekly basis. Since the raw material is perishable, the procurement planning is extremely important. The task is to predict the food delivery demand for the next ten weeks.</p>
                <form action="/predict" method="POST">
                    <button type="submit" class="predict-btn">Predict</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
